body {
  color: var(--cl-ascent);
}
.aboutHero {
  background: url("../images/Protective-Hairstyles-for-Men-with-Natural-Hair.webp")
    center/cover no-repeat;
}

.headline-2 {
  background-color: var(--cl-primary);
}

.hair-logo {
  margin-top: 3.6rem;
  display: flex;
  place-content: center;
}

@media screen and (max-width: 480px) {
  .aboutHero {
    background: url("../images/Protective-Hairstyles-for-Men-with-Natural-Hai-phone.jpg")
      center/cover no-repeat;
  }
}
