body {
  color: var(--cl-ascent);
}

.contactHero {
  background: url("../images/facecard01.jpg") center/cover no-repeat;
}

.headline-2 {
  background-color: var(--cl-ascent);
  color: var(--cl-primary);
}

.content p {
  font-size: 1.6rem;
  line-height: 1.5;
}

.justify-center2 {
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.form {
  margin-top: 3rem;
}

form {
  display: grid;
  row-gap: 3rem;
}

.inputs {
  display: flex;
  justify-content: space-between;
  column-gap: 3rem;
}

.inputs input {
  width: 100%;
}

input,
.text-box {
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 1.6rem;
  border-radius: 0.5rem;
  color: var(--cl-ascent);
  font-size: 1.6rem;
}

input::placeholder,
.text-box::placeholder {
  color: #a2976d;
}

input:focus,
.text-box:focus {
  outline: 0.05rem solid var(--cl-ascent-text);
}

form .text-box {
  height: 35rem;
  resize: none;
}

button {
  border: none;
  outline: none;
  width: 100%;
  border-radius: 0.5rem;
  background-color: transparent;
  font-size: 1.8rem;
  color: var(--cl-ascent);
}
.btns {
  display: flex;
  column-gap: 3rem;
  width: 50%;
  align-items: flex-start;
}

.btns .send {
  background-color: var(--cl-primary2);
  padding: 1.6rem 1.2rem;
}

.btns .reset {
  padding: 1.6rem 1rem;
  outline: 1px solid var(--cl-ascent);
}

@media screen and (max-width: 480px) {
  .btns {
    width: 100%;
    justify-content: space-between;
    gap: 2rem;
  }
  .btns button {
    width: 100%;
  }

  .inputs {
    flex-direction: column;
    row-gap: 3rem;
  }

  .inputs input {
    width: 100%;
  }
}
