
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');


 :root{
  --font-bricolage: 'Bricolage Grotesque', sans-serif;
  --fs-sm: 62.5%;
  --cl-primary: #FFF1D4;
  --cl-bg:  #FFF9ED;
  --cl-bg2: #F8EDE8;
  --cl-bg3: #FEA539;
  --cl-ascent-text: #B76B4B;
  --cl-secondary: #E8BFAE;
  --cl-ascent: #4A3F35;
  --cl-primary2: #FFCF85
 }

/* Box Model Hack */
* {
  box-sizing: border-box;
  font-family: "Bricolage Grotesque", sans-serif;

}

/* Consistent column naming */



html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
box-sizing: border-box;}
  

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;}

body {
	line-height: 1;
}


	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}


body {
	-webkit-text-size-adjust: none;
}

input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}


/******************************************
/* BASE STYLES
/*******************************************/
html{
    font-size: var(--fs-sm);
    line-height: 1.5;
}
body {
  font-family: var(--font-bricolage);
}


/******************************************
/* LAYOUT
/*******************************************/

/* Container */

	.container {
		margin: 0 auto;
    text-align: center;
    padding: 3rem 12rem;
	}


  /* Header */
  
  #header {
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 6rem;
    padding:0 6rem;
    display:grid;
    align-items: center;
    background-color:var(--cl-primary) ;
	}


  #header > nav .logo{
    height: 3.2rem;
}


nav{
   display: flex;
  justify-content: space-between;
  align-items: center;
}


nav ul{
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  gap: 1.6rem;
}


nav ul li{
  padding: 1rem 1.6rem;
}


nav ul li:first-child{
  background: var(--cl-secondary);
  
}


nav ul li a{
  text-align: center;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--cl-ascent);
}



#hero{
  min-height: 90vh;
  background: url("../images/11_Salon_landscape_01.jpg") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--cl-ascent);
}


#hero .inner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}


#hero .inner h1{
  font-size: 4rem;
  text-align: center;
  padding: 0.8rem 2.4rem;
  color: var(--cl-ascent);
  background-color: var(--cl-secondary);
}


#hero .inner span{
  font-size: 1.6rem;
  padding: 1.2rem 1.6rem;
  text-align: center;
  background-color: var(--cl-primary2);
}


#hero .btn{
  margin-top: 14rem;
}


#hero .btn a{
  padding: 1rem 1.6rem;
  text-align: center;
  font-size: 1.8rem;
  height: 4.8rem;
  width: 12rem;
  background-color: var(--cl-ascent);
  color: #fff;
  text-decoration: none;
}



#one{
  background-color: var(--cl-bg);

}


.row{
  display: flex;
  flex-direction: row;
  margin-top:3rem;
}


.col{
  flex: 1;
}

.container > .what-we-do, #two .span{
  text-align: center;
  font-size: 1.4rem;
  padding: 0.4rem 1.2rem;
  border-radius: 5rem;
}

.container > .what-we-do{
  background: var(--cl-bg2);
  color: var(--cl-ascent-text);
}


.gap{
  gap: 10rem;
  align-items: center;
}


.row .content, #two .row.content{
  text-align: left;

}


.major h2{
  font-size: 4rem;
  color: var(--cl-ascent);
  margin-bottom: 2.4rem;
  line-height: 1.2;
}


.row p{
  font-size: 1.6rem;
  line-height: 1.5;
}


.image-placeholder img{
  width: 100%;
  height: 100%;
  border-radius: 1.6rem;
  object-fit: cover;
  display: block;
  object-position:center ;
}


.image-placeholder{
  height: 36rem;
  width: 55rem;
  border-radius: 1.6rem;
}


/*  Our Services*/

#two{
  background-color: var(--cl-secondary);
}

#two .span{
  background-color: var(--cl-primary);
  color: var(--cl-bg3);
}

div,section{
  box-sizing: border-box;
}
.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 4rem;
  margin-top: 3rem;
  width: 100%;
  
}
.grid-item{
  position: relative;
  height: 30em;
  width: 37.3em;
  padding: 3rem;
  border-radius: 1.6rem;
  text-align: left;
  color: var(--cl-primary);
}

.grid-item::after {
  content: '';
  position: absolute;
  border-radius: 1.6rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4); /* black overlay */
  z-index: 0; /* overlay stays below text */
}
.grid-item .minor{
  margin-top:4.9em ;
  display: flex;
  flex-direction: column;
  gap: 1.6em;
}
.minor h3{
  font-size: 2.4em;
  letter-spacing: 1px;
  z-index: 1;
}
.grid-item ul{
  font-size: 1.6em;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.6em;
  line-height: 1.5;
  z-index: 1;
}
.grid-item img{
  position: relative;
  z-index: 1;
}


.hairStyle{
  background: url(../images/hairstyling.jpg) no-repeat center center / cover;
}
.hairColor{
  background: url(../images/cherry-hair-color.jpg) no-repeat center center / cover;
}

.braid{
  background: url(../images/types-of-protective-hairstyles-image-2-1.jpg) no-repeat center center /  cover;
}

.hairTreatment{
  background: url(../images/Step_by_Step_Keratin_Treatment_1_480x480.webp) no-repeat center center / cover;
}

.pedicureManicure{
  background: url(../images/hands+and+feet.webp) no-repeat center center / cover;
}

.events {
  background: url(../images/special-occasions1.jpeg) no-repeat center center / cover;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
